/*Layout styles*/

.branding-text {
    letter-spacing: 0.02em;
    font-size: 1.125rem;
    line-height: 1.6rem;
    font-weight: bold;
    color: #2494db !important;
    white-space: initial;
}

@media (min-width: 768px) {
    .branding-text {
        font-size: 1.75rem;
        line-height: 1.6rem;
    }
}

@media (min-width: 1200px) {
    .branding-text {
        font-size: 1.9rem;
        line-height: 1.9rem;
    }
}

.branding-text__normal {
    display: none;
}

@media (min-width: 420px) {
    .branding-text__normal {
        display: inline;
    }
}

.branding-text__twoLine {
    display: none;
}

@media (min-width: 300px) {
    .branding-text__twoLine {
        display: inline;
    }
}

@media (min-width: 420px) {
    .branding-text__twoLine {
        display: none;
    }
}

@media (min-width: 300px) {
    .branding-text__embedded {
        display: none;
    }
}

.nav-item {
    letter-spacing: 0.02em;
    font-size: 1.15rem;
    font-weight: 600;
}

nav.navbar {
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    background-color: #fcfcfc;
    width: 100%;
    padding: 1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.66);
}

    .navbar-light .navbar-nav .nav-link:hover {
        color: rgba(0,0,0,.85);
    }

@media (min-width: 768px) {
    nav.navbar {
        padding: 1.5rem;
    }
}

#emptyDiv {
    height: 5.9rem;
    min-height: 5.9rem;
}

@media (min-width: 420px) {
    #emptyDiv {
        height: 4.6rem;
        min-height: 4.6rem;
    }
}

@media (min-width: 768px) {
    #emptyDiv {
        height: 5.6rem;
        min-height: 5.6rem;
    }
}

@media (min-width: 768px) {
    #emptyDiv {
        height: 5.6rem;
        min-height: 5.6rem;
    }
}

@media (min-width: 768px) {
    #emptyDiv {
        height: 5.9rem;
        min-height: 5.9rem;
    }
}

/*Index page styles*/

a {
    color: #0d77b5;
}

.article {
    font-size: 1.1rem;
    line-height: 1.7rem;
}

/*Forms page styles*/

#progressbar li {
    list-style-type: none;
    width: 20%;
    float: left;
    display: block;
}

.step-count {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    background: #777;
    color: #fff;
    text-align: center;
    font: 15px Arial, sans-serif;
    padding: 2px;
    margin-bottom: 0.5rem;
    transition: all .2s ease-in-out;
}

.active .step-count {
    background: #2196F3;
}

.complete .step-count {
    background: #000;
}

.step-count:hover, .step-count:focus, .step-count:active {
    cursor: pointer;
    transform: scale(1.1);
}

@media(min-width: 576px) {
    .step-count:hover, .step-count:focus, .step-count:active {
        cursor: auto;
        transform: none;
    }
}

.step-description {
    color: #777;
}

.active .step-description, .step-description__outside {
    font-weight: bold;
    color: #000;
}

.complete .step-description {
    color: #000;
}

label[for]:hover {
    cursor: pointer;
}

form input, form textarea, form select {
    border: 1px solid #7e96a7 !important;
    font-size: 1.13rem !important;
}

    input.is-invalid, textarea.is-invalid, select.is-invalid {
        border: 1px solid #dc3545 !important;
    }

label.is-invalid {
    color: #dc3545;
}

.submitBtn {
    color: #fff;
    background-color: #0d77b5;
}

.navigateBtn, .addBtn, .removeBtn {
    color: #0d77b5;
    border: 2px solid #0d77b5;
}

.edit-grid-object {
    border-top: 2px solid #98abb9;
}

    .edit-grid-object:hover, .edit-grid-object:focus, .edit-grid-object:active,
    .container-object:hover, .container-object:focus, .container-object:active {
        background: #eff3f5;
    }

    .edit-grid-object:nth-last-child(2) {
        border-bottom: 2px solid #98abb9;
    }

.tooltip-icon {
    cursor: pointer;
    display: inline-block;
    box-sizing: content-box;
    width: 15px;
    height: 15px;
    margin: 0 0.3em;
    text-align: center;
    vertical-align: baseline;
    color: #fff;
    border: 2px solid #bbb;
    border-radius: 50%;
    background-color: #bbb;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
}

    .tooltip-icon:hover, .tooltip-icon:focus, .tooltip-icon:active {
        background-color: #0074bd;
        border: 2px solid #0074bd;
    }

/*Network Entries List Page Styles*/
#network-entries-table a {
    display: block;
    width: 100%;
    height: 100%;
    color: #0d77b5;
    text-decoration: none;
}

    #network-entries-table a:hover {
        text-decoration: underline;
    }

/*Network Entry Details Page Styles*/
.card .card-header {
    font-size: 1.2rem;
    padding: 0.8rem;
    font-weight: bold;
    color: #fff;
    background-color: #678498;
}

.card {
    border: 2px solid #5d7689;
}